@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho */

header {
    width: 100%;
    height: 130px;
    background-color: #B5503E;
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0;
}


nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.li-home {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.li-home a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}

.li-home a:hover {
    color: #FFFFFF;
    transform: 0.5s ease-in-out;
}

.li-home a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.li-home a:hover::after {
    width: 100%;
}

.li-home a.selected::after {
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}

/* Banner */

.banner .fade {
    float: left;
    width: 100%;
    height: 450px;
    background: rgb(60,60,60);
    background: linear-gradient(180deg, rgba(60,60,60,0.41228991596638653) 0%, rgba(0,0,0,0.5579481792717087) 100%);
}

.banner .banner-img {
    width: 100%;
    height: 450px;
    background-image: url(../imagens/banner-cofeitaria.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Seção Tortas e Bolos */

.tortas-bolos {
    width: 100%;
    height: 586px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tortas-bolos .container {
    width: 90%;
    padding: 0px 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
}

.tortas-bolos .texto {
    width: 600px;
    padding: 0 2% 0 0 ;
}

.tortas-bolos .texto .titulo {
    position: relative;
    left: -25px;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
}

.tortas-bolos .texto p {
    width: 94%;
    text-align: justify;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
}

.tortas-bolos .img-wrapper {
    width: 700px;
}

.tortas-bolos img {
    width: 100%;
    padding: 0 0 0 2%;
}

/* Seção Torta de Morango */

.torta-morango {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.torta-morango .texto {
    width: 50%;
    height: 650.27px;
    background-color: #B5503E;
    padding: 0 2% 0 0;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.torta-morango .texto h1 {
    font-size: 300%;
}

.torta-morango .img {
    width: 100%;
    height: 650.25px;
    background-image: url("../imagens/img-torta-morango.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.torta-morango .img-wrapper {
    width: 50%;
    height: 650.25px;
}

.torta-morango img {
    width: 100%;
    height: 100%;
    float: left;
}