@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Cabeçalho */

header {
    width: 100%;
    height: 130px;
    background-color: #B5503E;
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0;
}

header img {
    width: 85.25px;
    height: 85.25px;
}


nav {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.li-home {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.li-home a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}

.li-home a:hover {
    color: #FFFFFF;
    transform: 0.5s ease-in-out;
}

.li-home a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.li-home a:hover::after {
    width: 100%;
}

.li-home a.selected::after {
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.5s ease-in-out;
}

/* Banner */

.banner .fade {
    float: left;
    width: 100%;
    height: 450px;
    background: rgb(60,60,60);
    background: linear-gradient(180deg, rgba(60,60,60,0.41228991596638653) 0%, rgba(0,0,0,0.5579481792717087) 100%);
}

.banner .banner-img {
    width: 100%;
    height: 450px;
    background-image: url(../imagens/banner-cofeitaria.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Seção Tortas e Bolos */

.tortas-bolos {
    width: 100%;
    height: 586px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tortas-bolos .container {
    width: 90%;
    padding: 0px 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
}

.tortas-bolos .texto {
    width: 600px;
    padding: 0 2% 0 0 ;
}

.tortas-bolos .texto .tortas-bolos-titulo {
    position: relative;
    left: -25px;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
}

.tortas-bolos .texto p {
    width: 94%;
    text-align: justify;
    margin-top: 20px;
    font-weight: 400;
    font-size: 125%;
}

.tortas-bolos .img-wrapper {
    width: 700px;
}

.tortas-bolos img {
    width: 100%;
    padding: 0 0 0 2%;
}

/* Seção Torta de Morango */

.torta-morango {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B5503E;
}


.torta-morango .texto {
    width: 50%;
    height: 220px;
    padding: 0 2% 0 0;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.torta-morango .texto h1 {
    font-size: 250%;
}

.torta-morango .img {
    width: 100%;
    height: 500px;
    background-image: url("../imagens/img-torta-morango.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.torta-morango .img-wrapper {
    width: 50%;
    height: 500px;
}

.torta-morango img {
    width: 100%;
    height: 100%;
    float: left;
}

.torta-morango p {
    width: 50%;
    font-size: 1.5em;
    font-weight: 300;
}

/* Seção Torta de Chocolate */

.torta-chocolate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDB374;
}

.torta-chocolate .texto {
    width: 50%;
    height: 220px;
    padding: 0 2% 0 0;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.torta-chocolate .texto h1 {
    font-size: 250%;
}

.torta-chocolate .img {
    width: 100%;
    height: 500px;
    background-image: url("../imagens/img-torta-chocolate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.torta-chocolate .img-wrapper {
    width: 50%;
    height: 500px;
}

.torta-chocolate img {
    width: 100%;
    height: 100%;
    float: right;
}

.torta-chocolate p {
    width: 56%;
    font-size: 1.5em;
    font-weight: 300;
}

/* Seção de Torta Trufada */

.torta-trufada {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B5503E;
}


.torta-trufada .texto {
    width: 50%;
    height: 220px;
    padding: 0 2% 0 0;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.torta-trufada .texto h1 {
    font-size: 250%;
}

.torta-trufada .img {
    width: 100%;
    height: 500px;
    background-image: url("../imagens/img-torta-trufada.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.torta-trufada .img-wrapper {
    width: 50%;
    height: 500px;
}

.torta-trufada img {
    width: 100%;
    height: 100%;
    float: left;
}

.torta-trufada p {
    width: 50%;
    font-size: 1.5em;
    font-weight: 300;
}

/* Seção bolos */

section.bolos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    background-color: #E9E9E9;
}


section.bolos > img {
    width: 65.45%;
    padding: 0 6.15%;
    margin: 0 auto;
}

section.bolos .container {
    align-items: center;
    padding: 52px 0;
}

section.bolos .texto {
    width: 600px;
    padding: 0 2% 0 0 ;
}

section.bolos .texto h1 {
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 313%;
    color: #B5503E;
    text-transform: uppercase;
}

section.bolos .texto p{
    width: 94%;
    text-align: justify;
    margin-top: 20px;
    font-weight: 400;
    font-size: 125%;
}

section.bolos .outras-opcoes-bolos {
    width: 100%;
    padding: 0 7.20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.bolos .opcoes-linha {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

section.bolos .bolo-opcao {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.bolos .bolo-opcao p {
    text-transform: uppercase;
    width: 50%;
    padding: 25px 0;
    font-size: 137.5%;
    font-weight: 500;
    text-align: center;
}

/* Seção doces */

.doces {
    width: 100%;
    background-color: #B5503E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 123px 0;
}

.doces .container {
    width: 90%;
    padding: 0px 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
}

.doces .texto {
    width: 600px;
    padding: 0 2% 0 0 ;
}

.doces .texto .titulo {
    position: relative;
    left: -25px;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0;
}

.doces .texto p {
    width: 94%;
    text-align: justify;
    margin-top: 20px;
    font-weight: 400;
    font-size: 125%;
    color: #FFFFFF;
}

.doces .img-wrapper {
    width: 700px;
}

.doces img {
    width: 100%;
    padding: 0 0 0 2%;
}

.doces .container:last-child {
    width: 90%;
    padding: 0px 2%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px 0;
    align-items: start;
}
.doces img:last-child {
    padding-right: 50px;
}

.doces ul {
    text-align: right;
    width: 94%;
    padding: 10px 0 0 50px;
}


.doces li {
    font-weight: 400;
    font-size: 218.75%;
    color: #FFFFFF;
    list-style-position: outside;
    text-align: left;
}

footer {
    width: 100%;
    background-color: #E9E9E9;
    padding: 94px 10.28%;
}

footer .footer-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.68%;
}

footer .endereco {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    width: 100%;
}

footer .endereco a {
    padding-top: 10px;
    font-size: 100%;
    text-align: center;
}

footer .endereco a:visited {
    color: #DB471B;
}

footer .elementos-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


footer .elementos-wrapper p {
    width: 252.52px;
    font-size: 100%;
}

footer .telefone {
    width: 100%;
    padding-bottom: 26px;
}

footer .email {
    width: 100%;
}

footer .logo {
    width: 11.40%;
    height: 11.40%;
}


footer .links {
    width: 242.23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

footer .links nav {
    width: 242.23px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .li-home {
    padding-bottom: 8px;
}


footer .li-home a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

footer .li-home a:hover {
    color: #000;
}

footer .li-home a::after {
    display: none;
}

footer .redes-sociais {
    width: 208px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer .copyright {
    font-size: 75%;
    font-weight: 300;
    color: #000;
    text-align: center;
}